[submodule "thems/hugo-theme-relearn"]
	path = thems/hugo-theme-relearn
	url = git@github.com:McShelby/hugo-theme-relearn.git

[submodule "themes/hugo-theme-relearn"]
	path = themes/hugo-theme-relearn
	url = https://github.com/McShelby/hugo-theme-relearn.git
